extends ../../components/layout/layout.pug

block content
  div.container
    h1 Article!
    form(action="/articles" method="get")
      div.form-group.row
        div.col-sm-12 
          label(for="title").form-label Search Title
          if searchTitle === undefined
            input#title(name="title" type="text" placeholder="Title").form-control
          else 
            input#title(name="title" type="text" value=searchTitle).form-control
      div.form-group.row
        div.col-sm-12 
          button.btn.btn-primary.btn-block(type='submit') submit
    table.table.table-hover
      if searchTitle !== undefined && searchTitle !== ""
        p.text-secondary 「#{searchTitle}」の検索結果 
      p.text-secondary count: #{count}
      thead.thead-light
        tr
          th #
          th title
          th contents
          th user_name
          th created_at 
          th updated_at
      tbody 
        for article in articles 
          tr 
            th #{article.id}
            th #{article.title}
            th #{article.contents}
            th #{article.user.name}
            th #{article.created_at}
            th #{article.updated_at}